@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  background-color: #232323;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  font-size: 16px;
  overflow-y: scroll;
}
a {
  color: #262626;
}
a:hover {
  color: #262626;
}
hr {
  border-top-color: #262626;
}
strong, b {
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}
h3,.h3 {
  font-size: 32px;
  margin-bottom: 14px;
}
code {
  color: #262626;
  background-color: #efefef;
  padding: 2px 10px;
  border-radius: 0;
}

.padding-5 { padding: 5px !important; }
.padding-10 { padding: 10px !important; }
.padding-15 { padding: 15px !important; }
.padding-20 { padding: 20px !important; }
.padding-25 { padding: 25px !important; }
.padding-30 { padding: 30px !important; }

.padding-t-5 { padding-top: 5px !important; }
.padding-t-10 { padding-top: 10px !important; }
.padding-t-15 { padding-top: 15px !important; }
.padding-t-20 { padding-top: 20px !important; }
.padding-t-25 { padding-top: 25px !important; }
.padding-t-30 { padding-top: 30px !important; }

.padding-b-5 { padding-bottom: 5px !important; }
.padding-b-10 { padding-bottom: 10px !important; }
.padding-b-15 { padding-bottom: 15px !important; }
.padding-b-20 { padding-bottom: 20px !important; }
.padding-b-25 { padding-bottom: 25px !important; }
.padding-b-30 { padding-bottom: 30px !important; }

.padding-l-5 { padding-left: 5px !important; }
.padding-l-10 { padding-left: 10px !important; }
.padding-l-15 { padding-left: 15px !important; }
.padding-l-20 { padding-left: 20px !important; }
.padding-l-25 { padding-left: 25px !important; }
.padding-l-30 { padding-left: 30px !important; }

.padding-r-5 { padding-right: 5px !important; }
.padding-r-10 { padding-right: 10px !important; }
.padding-r-15 { padding-right: 15px !important; }
.padding-r-20 { padding-right: 20px !important; }
.padding-r-25 { padding-right: 25px !important; }
.padding-r-30 { padding-right: 30px !important; }

.push-up-5 { margin-top: 5px !important; }
.push-up-10 { margin-top: 10px !important; }
.push-up-15 { margin-top: 15px !important; }
.push-up-20 { margin-top: 20px !important; }
.push-up-25 { margin-top: 25px !important; }
.push-up-30 { margin-top: 30px !important; }

.push-down-5 { margin-bottom: 5px !important; }
.push-down-10 { margin-bottom: 10px !important; }
.push-down-15 { margin-bottom: 15px !important; }
.push-down-20 { margin-bottom: 20px !important; }
.push-down-25 { margin-bottom: 25px !important; }
.push-down-30 { margin-bottom: 30px !important; }

/* Footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  font-size: 14px;
  color: #efefef;
  z-index: 9999;
}
footer a {
  color: #ACAFB1;
}
footer > div{
  color: #fff;
  margin: 10px auto;
  text-align: center;
}

/* Wrappers */
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
}
@media (min-width: 992px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 225px;
    padding: 60px 30px 0 30px;
  }
}
#loading{
  font-size: 2em;
}

/* Sidebar */
.nav-side-menu {
overflow-y: scroll;
  font-size: 16px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, .8);
background: -moz-linear-gradient(left, rgba(245,245,245,0.4) 0%, rgba(35,35,35,0.93) 88%, rgba(35,35,35,1) 100%);
background: -webkit-linear-gradient(left, rgba(245,245,245,0.4) 0%,rgba(35,35,35,0.93) 88%,rgba(35,35,35,1) 100%);
background: linear-gradient(to right, rgba(245,245,245,0.4) 0%,rgba(35,35,35,0.93) 88%,rgba(35,35,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66f5f5f5', endColorstr='#232323',GradientType=1 );
  position: fixed;
  top: 0;
  width: 225px;
  height: 100%;
  color: #fff;
  z-index: 1000;
}
.nav-side-menu::-webkit-scrollbar {
display: none;
}
.nav-side-menu .brand {
  background-color: #262626;
  line-height: 22px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
.nav-side-menu .brand a {
  color: #fff;
  text-decoration: none;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #A3A3A3;
background: -moz-linear-gradient(left, rgba(245,245,245,0.8) 0%, rgba(35,35,35,0.98) 88%, rgba(35,35,35,1) 100%);
background: -webkit-linear-gradient(left, rgba(245,245,245,0.8) 0%,rgba(35,35,35,0.98) 88%,rgba(35,35,35,1) 100%);
background: linear-gradient(to right, rgba(245,245,245,0.8) 0%,rgba(35,35,35,0.98) 88%,rgba(35,35,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf5f5f5', endColorstr='#232323',GradientType=1 );
}
.nav-side-menu ul .active a,
.nav-side-menu li .active a {
  color: #fff;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #A3A3A3;
}
.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li a {
  display: inline-block;
  width: 85%;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #A3A3A3;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 2px 0;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #A3A3A3;
background: -moz-linear-gradient(left, rgba(245,245,245,0.8) 0%, rgba(35,35,35,0.98) 88%, rgba(35,35,35,1) 100%);
background: -webkit-linear-gradient(left, rgba(245,245,245,0.8) 0%,rgba(35,35,35,0.98) 88%,rgba(35,35,35,1) 100%);
background: linear-gradient(to right, rgba(245,245,245,0.8) 0%,rgba(35,35,35,0.98) 88%,rgba(35,35,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf5f5f5', endColorstr='#232323',GradientType=1 );
}
.nav-side-menu li:hover a {
  color: #fff;
}
@media (max-width: 991px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    border-radius: 3px;
  }
  .brand {
    text-align: left !important;
    font-size: 20px;
    padding-left: 20px;
    line-height: 20px !important;
  }
}
@media (min-width: 992px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* Top Bar */
#top-bar {
  background-color: #262626;
  line-height: 50px;
  display: block;
  font-size: 17px;
  color: #fff;
  padding: 0 15px;
  z-index: 1000;
}
#top-bar a{
  color: #fff;
}
#top-bar div {
  display: inline-block;
  padding: 0 15px;
}
#top-bar div strong {
  font-weight: 700;
}
#top-bar #statsUpdated {
  font-weight: normal;
}
@media (max-width: 1199px) {
  #top-bar #statsUpdated .text {
    display: none;
  }
}
@media (min-width: 992px) {
  #top-bar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 225px;
    right: 0;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  #top-bar {
    display: none;
  }
}

/* Bootstrap Buttons */
.btn-default {
  outline: none;

  text-align: center;
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 1px, /* border */
    inset hsla(0,0%,15%, .8) 0 0px 10px 4px, /* soft SD */


    hsla(0,0%, 0%,.16) 0 0px 10px 6px, /* outer SD */
    hsla(0,0%,100%,.5) 0 0px 0px -6px; /* outer HL */

  transition: color .2s;
/*  background-color: #A3A3A3;
  border-color: #A3A3A3;
*/
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #A3A3A3;
  border-color: #A3A3A3;
}
.btn-default.disabled,.btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #A3A3A3;
  border-color: #A3A3A3;
}
.btn-default .badge {
  color: #A3A3A3;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #A3A3A3;
  border-color: #A3A3A3;
}
.btn-primary:hover,.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #027454;
  border-color: #026a4d;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #03a678;
  border-color: #03a678;
}
.btn-primary .badge {
  color: #03a678;
  background-color: #ffffff;
}
.button-small {
margin-left:0px;
padding:3px;
}
/* Bootstrap Form Controls */
.input-group-addon {
  color: #A3A3A3;
}

/* Bootstrap Tables */
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #000000;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #000000;
}
.table > thead > tr > th {
  color: #A3A3A3;
  border-bottom-color: #A3A3A3;
  font-weight: 400;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(165,165,165,0.70);
}
.table > tbody > tr:hover td,
.table > tbody > tr:hover th {
  background-color: rgba(190,190,190,1.00);
}
.table > tbody > tr > td {
  border-top-color: #262626;
}
table th.sort:hover{
  cursor: pointer;
}

/* jQuery sparkline tooltip */
.jqstooltip {
  border: none !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 2px !important;
  margin-top: -20px !important;
  /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box;
  box-sizing: content-box !important;
}
.jqstooltip .jqsfield {
  color: #ccc;
  font-size: 13px !important;
}
.jqstooltip .jqsfield b {
  color: #fff;
}

/* Content Card */
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card table, .card .table {
  margin-bottom: 0;
}

/* Info box */
.infoBox {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);*/
box-shadow: 0 0 20px #FFFFFF;
  height: 80px;
  cursor: default;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
}
@media (max-width: 767px){
  .infoBox{
    margin-bottom: 15px;
  }
}
.infoBox .icon {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  width: 75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.infoBox .content {
  display: inline-block;
  padding: 7px 16px;
}
.infoBox .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #fff;
  text-transform: uppercase;
}
.infoBox .content .value {
  font-size: 26px;
  font-weight: 800;
  margin-top: -4px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.infoBox .content .value .smallText {
  font-size: 16px;
  font-weight: normal;
}
.smallerText {
  font-size: 9px;
  font-weight: normal;
}
#marketInfos .infoBox {
  height: 100px;
}
#marketInfos .infoBox .source {
  font-size: 13px;
  font-style: italic;
  color: #fff;
}
#marketInfos .infoBox .source a, #marketInfos .infoBox .source a:hover {
  color: #fff;
}


/* Hash info box */
.hashInfo {
background-color: #d7d7d7; background-image: linear-gradient(147deg, #353535 0%, #d7d7d7 100%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  cursor: default;
  padding: 15px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 767px){
  .hashInfo {
    margin-bottom: 15px;
  }
}
.hashInfo .text {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.hashInfo .content {
  overflow: hidden;
}
.hashInfo .content .value {
  float: left;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  padding-right: 8px;
}
.hashInfo .content .value a {
  color: #fff;
}
.hashInfo .content .time {
  float: left;
  font-size: 15px;
  font-weight: normal;
}

/* Slush payment info box */
.slushInfo {
  background-color: #262626;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  cursor: default;
  padding: 15px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 30px;
}
.slushInfo .text {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767px){
  .slushInfo {
    margin-bottom: 15px;
  }
}
.slushInfo .content .value {
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 8px 8px 0 0;
}
.slushInfo .content .value a {
    color: #fff;
}

/* Pool Statistics */
.stats > div:not(#addressError) {
  color: #262626;
  padding: 10px 0px;
}
.stats > div:not(#addressError).marketFooter {
  padding: 5px 0;
}
.stats > div:not(#addressError) > i.fa {
  color: #A3A3A3;
  font-size: 21px;
  width: 30px;
  text-align: center;
}
.stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type {
  font-weight: 500;
  padding: 0 2px;
  color: #A3A3A3;
}

/* Pool and Worker Charts */
.poolChart, .marketChart, .userChart, .userChart_coin2, .userChart_coin3 {
  display: none;
}
.poolChart .chart, .marketChart .chart, .userChart .chart, .userChart_coin2 .chart, .userChart_coin3 .chart {
  height: 140px;
}
.poolChart, .marketChart {
  margin-bottom: 30px;
}
@media (max-width: 767px){
  .poolChart, .marketChart {
    margin-bottom: 15px;
  }
}
.poolChart h4,
.marketChart h4,
.userChart h4,
.userChart_coin2 h4,
.userChart_coin3 h4 {
  text-align: center;
  font-size: 21px;
}
.chart a.chart-style {
  display: none; /* never displayed; we just use it to store the following colors: */
  background-color: rgba(58,58,58,0.60);
  border-color: #161616;
  width: 2px; /* controls the chart border width (must be specified in px) */
}

/* Market Rates */
#marketStats  {
  margin-top: 20px;
}
#marketUpdate {
    display: none;
}

/* Mining Profit Calculator */
#miningProfitCalc{
  margin: 35px 0;
}
#miningProfitCalc .input-group-addon{
  padding: 6px;
}
#miningProfitCalc .input-group-addon,
#miningProfitCalc .input-group-btn .btn,
#miningProfitCalc .input-group .form-control{
  height:45px;
}
#calcHashDropdown{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
#calcHashHolder{
  width: 590px;
  max-width: 100%;
}
#calcHashRate{
  z-index: inherit;
  font-family: 'Inconsolata', monospace;
}
#calcHashAmount{
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
#calcHashPeriod{
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  width: 60px;
  vertical-align: middle;
}
#calcHashResultsHolder{
  min-width: 170px;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  #calcHashResultsHolder{
    min-width: 225px;
    max-width: 225px;
  }
}

/* Mining Ports */
#miningPorts tr > td {
  vertical-align: middle;
  font-size: 0.95em;
}
#miningPorts table .col1,
#miningPorts table .col2 {
  text-align: center;
}
@media (min-width: 768px) {
  #miningPorts table th {
    white-space: nowrap;
  }
  #miningPorts table .col1 {
    width:60px;
  }
  #miningPorts table .col2 {
    width:160px;
    text-align: center;
  }
}

/* Mining Apps */
#miningApps .table > thead > tr > th {
  white-space: nowrap;
}
#miningApps_rows > tr:first-child > td {
  padding-top: 10px;
}
#miningApps_rows > tr > td {
  border-top: none;
}
#miningApps_rows .appInfo td {
  padding: 10px;
  margin: 0;
}
#miningApps_rows .appConfig td {
  padding: 0 10px;
}
#miningApps_rows tr:hover,
#miningApps_rows tr:hover > td,
#miningApps_rows tr:hover > th {
  background-color: transparent;
}
#miningApps .btn {
  width: 100%;
}
#miningApps .miningAppTitle {
  font-weight: bold;
}
#miningApps .exampleAddress,
#miningApps .exampleWorkerName {
  font-style: italic;
}

/* Worker Statistics */
#yourStatsInput,
#yourStatsInput_coin2,
#yourStatsInput_coin3 {
  z-index: inherit;
  font-family: 'Inconsolata', monospace;
}
#yourAddressDisplay  {
  word-wrap: break-word;
}
#yourAddressDisplay > span  {
  font-family: 'Inconsolata', monospace;
}
#lookUp > span:nth-child(2),
#lookUp_coin2 > span:nth-child(2),
#lookUp_coin3 > span:nth-child(2) {
  display: none;
}
.yourStats,
.yourWorkers,
.yourStats_coin2,
.yourWorkers_coin2,
.yourStats_coin3,
.yourWorkers_coin3,
.pool_yourStats,
.solo_yourStats,
.solo_yourWorkers,
.pool_yourStats_coin2,
.solo_yourStats_coin2,
.solo_yourWorkers_coin2,
.pool_yourStats_coin3,
.solo_yourStats_coin3,
.solo_yourWorkers_coin3 {
  display: none;
}
.tab-pane #workerStats,
.tab-pane #workerStats_coin2,
.tab-pane #workerStats_coin3 {
  padding-top: 1em;
}
#yourAddressDisplay {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
}
#addressError,
#addressError_coin2,
#addressError_coin3 {
  color: red;
}
#workersReport td,
#workersReport_coin2 td,
#workersReport_coin3 td {
  vertical-align: middle;
}
#workersReport .status-ok,
#workersReport_coin2 .status-ok,
#workersReport_coin3 .status-ok {
  color: #17a600;
}
#workersReport .status-error,
#workersReport_coin2 .status-error,
#workersReport_coin3 .status-error {
  color: #a60000;
}
#workersReport table .col1,
#workersReport table .col3,
#workersReport table .col4,
#workersReport table .col5,
#workersReport_coin2 table .col1,
#workersReport_coin2 table .col3,
#workersReport_coin2 table .col4,
#workersReport_coin2 table .col5,
#workersReport_coin3 table .col1,
#workersReport_coin3 table .col3,
#workersReport_coin3 table .col4,
#workersReport_coin3 table .col5 {
  text-align: center;
}

#solo_workersReport td,
#solo_workersReport_coin2 td,
#solo_workersReport_coin3 td {
  vertical-align: middle;
}
#solo_workersReport .status-ok,
#solo_workersReport_coin2 .status-ok,
#solo_workersReport_coin3 .status-ok {
  color: #17a600;
}
#solo_workersReport .status-error,
#solo_workersReport_coin2 .status-error,
#solo_workersReport_coin3 .status-error {
  color: #a60000;
}
#solo_workersReport table .col1,
#solo_workersReport table .col3,
#solo_workersReport table .col4,
#solo_workersReport table .col5,
#solo_workersReport_coin2 table .col1,
#solo_workersReport_coin2 table .col3,
#solo_workersReport_coin2 table .col4,
#solo_workersReport_coin2 table .col5,
#solo_workersReport_coin3 table .col1,
#solo_workersReport_coin3 table .col3,
#solo_workersReport_coin3 table .col4,
#solo_workersReport_coin3 table .col5 {
  text-align: center;
}
@media (min-width: 768px) {
  #workersReport table th,
  #workersReport_coin2 table th,
  #workersReport_coin3 table th {
    white-space: nowrap;
  }
  #workersReport table .col1,
  #workersReport_coin2 table .col1,
  #workersReport_coin3 table .col1 {
    width:80px;
  }
  #workersReport table .col3,
  #workersReport table .col4,
  #workersReport table .col5,
  #workersReport table .col6,
  #workersReport_coin2 table .col3,
  #workersReport_coin2 table .col4,
  #workersReport_coin2 table .col5,
  #workersReport_coin2 table .col6,
  #workersReport_coin3 table .col3,
  #workersReport_coin3 table .col4,
  #workersReport_coin3 table .col5,
  #workersReport_coin3 table .col6 {
    width:120px;
  }
  #workersReport table .col7,
  #workersReport_coin2 table .col7,
  #workersReport_coin3 table .col7 {
    width: 210px;
  }
  #workersReport table .col8,
  #workersReport_coin2 table .col8,
  #workersReport_coin3 table .col8 {
    width: 210px;
  }

  #solo_workersReport table th,
  #solo_workersReport_coin2 table th,
  #solo_workersReport_coin3 table th {
    white-space: nowrap;
  }
  #solo_workersReport table .col1,
  #solo_workersReport_coin2 table .col1,
  #solo_workersReport_coin3 table .col1 {
    width:80px;
  }
  #solo_workersReport table .col3,
  #solo_workersReport table .col4,
  #solo_workersReport table .col5,
  #solo_workersReport table .col6,
  #solo_workersReport_coin2 table .col3,
  #solo_workersReport_coin2 table .col4,
  #solo_workersReport_coin2 table .col5,
  #solo_workersReport_coin2 table .col6,
  #solo_workersReport_coin3 table .col3,
  #solo_workersReport_coin3 table .col4,
  #solo_workersReport_coin3 table .col5,
  #solo_workersReport_coin3 table .col6  {
    width:120px;
  }
  #solo_workersReport table .col7,
  #solo_workersReport_coin2 table .col7,
  #solo_workersReport_coin3 table .col7 {
    width: 210px;
  }
  #solo_workersReport table .col8,
  #solo_workersReport_coin2 table .col8,
  #solo_workersReport_coin3 table .col8 {
    width: 210px;
  }
}
#workerPayments td,
#workerPayments_coin2 td,
#workerPayments_coin3 td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#workerPayments table .col3,
#workerPayments table .col4,
#workerPayments_coin2 table .col3,
#workerPayments_coin2 table .col4,
#workerPayments_coin3 table .col3,
#workerPayments_coin3 table .col4 {
  text-align: center;
}
#workerPayments table .summary,
#workerPayments_coin2 table .summary,
#workerPayments_coin3 table .summary {
  font-weight: 700;
}
@media (min-width: 768px) {
  #workerPayments table,
  #workerPayments_coin2 table,
  #workerPayments_coin3 table {
    table-layout:fixed;
  }
  #workerPayments table th,
  #workerPayments_coin2 table th,
  #workerPayments_coin3 table th {
    white-space: nowrap;
  }
  #workerPayments table .col1,
  #workerPayments_coin2 table .col1,
  #workerPayments_coin3 table .col1 {
    width:190px;
  }
  #workerPayments table .col2,
  #workerPayments_coin2 table .col2,
  #workerPayments_coin3 table .col2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #workerPayments table .col3,
  #workerPayments_coin2 table .col3,
  #workerPayments_coin3 table .col3 {
    width:130px;
  }
  #workerPayments table .col4,
  #workerPayments_coin2 table .col4,
  #workerPayments_coin3 table .col4 {
    width: 70px;
  }
}

/* Pool Blocks */
#blocksStats,
#blocksStats_coin2,
#blocksStats_coin3  {
  margin-top: 20px;
}
#blocksStats .infoBox,
#blocksStats_coin2 .infoBox,
#blocksStats_coin3 .infoBox  {
  margin-bottom: 15px;
}
#blocksStats .luckGood,
#blocksStats_coin2 .luckGood,
#blocksStats_coin3 .luckGood {
  color: #5eff5e;
}
#blocksStats .luckBad,
#blocksStats_coin2 .luckBad,
#blocksStats_coin3 .luckBad {
  color: red;
}
#blocksStats .luckMid,
#blocksStats_coin2 .luckMid,
#blocksStats_coin3 .luckMid {
  color: #FFF500;
}
#blocksReport tr > td,
#blocksReport_coin2 tr > td,
#blocksReport_coin3 tr > td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#blocksReport table .col2,
#blocksReport table .col3,
#blocksReport table .col4,
#blocksReport table .col6,
#blocksReport table .col7,
#blocksReport_coin2 table .col2,
#blocksReport_coin2 table .col3,
#blocksReport_coin2 table .col4,
#blocksReport_coin2 table .col6,
#blocksReport_coin2 table .col7,
#blocksReport_coin3 table .col2,
#blocksReport_coin3 table .col3,
#blocksReport_coin3 table .col4,
#blocksReport_coin3 table .col6,
#blocksReport_coin3 table .col7 {
  text-align: center;
}
#solo_blocksReport tr > td,
#solo_blocksReport_coin2 tr > td,
#solo_blocksReport_coin3 tr > td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#solo_blocksReport table .col2,
#solo_blocksReport table .col3,
#solo_blocksReport table .col4,
#solo_blocksReport table .col6,
#solo_blocksReport table .col7,
#solo_blocksReport_coin2 table .col2,
#solo_blocksReport_coin2 table .col3,
#solo_blocksReport_coin2 table .col4,
#solo_blocksReport_coin2 table .col6,
#solo_blocksReport_coin2 table .col7,
#solo_blocksReport_coin3 table .col2,
#solo_blocksReport_coin3 table .col3,
#solo_blocksReport_coin3 table .col4,
#solo_blocksReport_coin3 table .col6,
#solo_blocksReport_coin3 table .col7 {
  text-align: center;
}
@media (min-width: 768px) {
  #blocksReport table,
  #blocksReport_coin2 table,
  #blocksReport_coin3 table  {
    table-layout:fixed;
  }
  #blocksReport table th,
  #blocksReport_coin2 table th,
  #blocksReport_coin3 table th {
    white-space: nowrap;
  }
  #blocksReport table .col1,
  #blocksReport_coin2 table .col1,
  #blocksReport_coin3 table .col1 {
    width:100px;
  }
  #blocksReport table .col2,
  #blocksReport_coin2 table .col2,
  #blocksReport_coin3 table .col2 {
    width:170px;
  }
  #blocksReport table .col3,
  #blocksReport_coin2 table .col3 {
    width:90px;
  }
  #blocksReport table .col4,
  #blocksReport_coin2 table .col4,
  #blocksReport_coin3 table .col4 {
    width:120px;
  }
  #blocksReport table .col5,
  #blocksReport_coin2 table .col5,
  #blocksReport_coin3 table .col5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #blocksReport table .col6,
  #blocksReport_coin2 table .col6,
  #blocksReport_coin3 table .col6 {
    text-shadow: 1px 1px #000000;
    width: 55px;
  }
  #blocksReport table .col7,
  #blocksReport_coin2 table .col7,
  #blocksReport_coin3 table .col7 {
    width: 80px;
  }
  #solo_blocksReport table,
  #solo_blocksReport_coin2 table,
  #solo_blocksReport_coin3 table  {
    table-layout:fixed;
  }
  #solo_blocksReport table th,
  #solo_blocksReport_coin2 table th,
  #solo_blocksReport_coin3 table th {
    white-space: nowrap;
  }
  #solo_blocksReport table .col1,
  #solo_blocksReport_coin2 table .col1,
  #solo_blocksReport_coin3 table .col1 {
    width:100px;
  }
  #solo_blocksReport table .col2,
  #solo_blocksReport_coin2 table .col2,
  #solo_blocksReport_coin3 table .col2 {
    width:170px;
  }
  #solo_blocksReport table .col3,
  #solo_blocksReport_coin2 table .col3,
  #solo_blocksReport_coin3 table .col3 {
    width:90px;
  }
  #solo_blocksReport table .col4,
  #solo_blocksReport_coin2 table .col4,
  #solo_blocksReport_coin3 table .col4 {
    width:120px;
  }
  #solo_blocksReport table .col5,
  #solo_blocksReport_coin2 table .col5,
  #solo_blocksReport_coin3 table .col5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #solo_blocksReport table .col6,
  #solo_blocksReport_coin2 table .col6,
  #solo_blocksReport_coin3 table .col6 {
    text-shadow: 1px 1px #000000;
    width: 55px;
  }
  #solo_blocksReport table .col7,
  #solo_blocksReport_coin2 table .col7,
  #solo_blocksReport_coin3 table .col7 {
    width: 80px;
  }
}
#blocksReport .pending td,
#blocksReport_coin2 .pending td,
#blocksReport_coin3 .pending td {
  background-color:rgba(255, 255, 255, .3);
}
#blocksReport .unlocked td,
#blocksReport_coin2 .unlocked td,
#blocksReport_coin3 .unlocked td {
background: #76b852;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#blocksReport .orphaned td,
#blocksReport_coin2 .orphaned td,
#blocksReport_coin3 .orphaned td {
background: #e53935;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#blocksReport .luckGood,
#blocksReport .unlocked .col7,
#blocksReport_coin2 .luckGood,
#blocksReport_coin2 .unlocked .col7,
#blocksReport_coin3 .luckGood,
#blocksReport_coin3 .unlocked .col7 {
  color: #17a600;
}
#blocksReport .luckBad,
#blocksReport .orphaned .col7,
#blocksReport_coin2 .luckBad,
#blocksReport_coin2 .orphaned .col7,
#blocksReport_coin3 .luckBad,
#blocksReport_coin3 .orphaned .col7 {
  color: #a60000;
}
#blocksReport .luckMid,
#blocksReport_coin2 .luckMid,
#blocksReport_coin3 .luckMid {
  color: #df9d00;
}

#solo_blocksReport .pending td,
#solo_blocksReport_coin2 .pending td,
#solo_blocksReport_coin3 .pending td {
  background-color:rgba(255, 255, 255, .3);
}
#solo_blocksReport .unlocked td,
#solo_blocksReport_coin2 .unlocked td,
#solo_blocksReport_coin3 .unlocked td {
background: #76b852;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#solo_blocksReport .orphaned td,
#solo_blocksReport_coin2 .orphaned td,
#solo_blocksReport_coin3 .orphaned td {
background: #e53935;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#solo_blocksReport .luckGood,
#solo_blocksReport .unlocked .col7,
#solo_blocksReport_coin2 .luckGood,
#solo_blocksReport_coin2 .unlocked .col7,
#solo_blocksReport_coin3 .luckGood,
#solo_blocksReport_coin3 .unlocked .col7 {
  color: #17a600;
}
#solo_blocksReport .luckBad,
#solo_blocksReport .orphaned .col7,
#solo_blocksReport_coin2 .luckBad,
#solo_blocksReport_coin2 .orphaned .col7,
#solo_blocksReport_coin3 .luckBad,
#solo_blocksReport_coin3 .orphaned .col7 {
  color: #a60000;
}
#solo_blocksReport .luckMid,
#solo_blocksReport_coin2 .luckMid,
#solo_blocksReport_coin3 .luckMid {
  color: #df9d00;
}
/* Payments */
#paymentsStats {
  margin-top: 20px;
}
#paymentsStats .infoBox {
  margin-bottom: 15px;
}
#paymentsReport td,
#paymentsReport_coin2 td,
#paymentsReport_coin3 td {
  vertical-align: middle;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
}
#paymentsReport table .col3,
#paymentsReport table .col4,
#paymentsReport table .col5,
#paymentsReport table .col6,
#paymentsReport_coin2 table .col3,
#paymentsReport_coin2 table .col4,
#paymentsReport_coin2 table .col5,
#paymentsReport_coin2 table .col6,
#paymentsReport_coin3 table .col3,
#paymentsReport_coin3 table .col4,
#paymentsReport_coin3 table .col5,
#paymentsReport_coin3 table .col6 {
  text-align: center;
}
@media (min-width: 768px) {
  #paymentsReport table  {
    table-layout:fixed;
  }
  #paymentsReport table th {
    white-space: nowrap;
  }
  #paymentsReport table .col1 {
    width:190px;
  }
  #paymentsReport table .col2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #paymentsReport table .col3 {
    width:130px;
  }
  #paymentsReport table .col4 {
    width:110px;
  }
  #paymentsReport table .col5 {
    width: 70px;
  }
  #paymentsReport table .col6 {
    width: 70px;
  }

  #paymentsReport_coin2 table,
  #paymentsReport_coin3 table  {
    table-layout:fixed;
  }
  #paymentsReport_coin2 table th,
  #paymentsReport_coin3 table th {
    white-space: nowrap;
  }
  #paymentsReport_coin2 table .col1,
  #paymentsReport_coin3 table .col1 {
    width:190px;
  }
  #paymentsReport_coin2 table .col2,
  #paymentsReport_coin3 table .col2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #paymentsReport_coin2 table .col3,
  #paymentsReport_coin3 table .col3 {
    width:130px;
  }
  #paymentsReport_coin2 table .col4,
  #paymentsReport_coin3 table .col4 {
    width:110px;
  }
  #paymentsReport_coin2 table .col5,
  #paymentsReport_coin3 table .col5 {
    width: 70px;
  }
  #paymentsReport_coin2 table .col6,
  #paymentsReport_coin3 table .col6 {
    width: 70px;
  }
}

/* Top 10 miners */
#top10miners td {
  vertical-align: middle;
}
#top10miners table .col1,
#top10miners table .col3,
#top10miners table .col4,
#top10miners table .col5,
#top10miners table .col6 {
  text-align: center;
}
@media (min-width: 768px) {
  #top10miners table th {
    white-space: nowrap;
  }
  #top10miners table .col1 {
    width:80px;
  }
  #top10miners table .col3 {
    width:150px;
  }
  #top10miners table .col4 {
    width: 210px;
  }
  #top10miners table .col5 {
    width: 210px;
  }
  #top10miners table .col6 {
    width: 210px;
  }
}

/* Language selector */
#langSelector {
  float: right;
  padding-right: 0 !important;
}

#langSelector select {
  display: inline-block;
  width: auto;
  height: 32px;
  padding: 6px 10px;
}

#mLangSelector {
    display: none;
    padding: 10px;
}
@media (max-width: 767px) {
  #mLangSelector {
    display: block;
  }
}

.circle-white {
  width: 32px;
  height: 32px;
  /*padding: 2px;*/
  margin-top:-4px;
  margin-right:15px;
  background-color:#FFFFFF;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}
.px5-right {
  margin-right: 5px;
}
.px5-left {
  margin-left: 5px;
}
.px15-left {
  margin-left: 15px;
}
.px15-top {
  margin-top: 15px;
}
.wrapMe {
  word-wrap: break-word;
}


@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-image: none;
  }
  .noprint {
    display: none;
  }
  .px15-left {
    margin-left: 0px;
  }
  h3.replaceHeader:after {
    content: "Cryptonote Club - Paper Wallet";
  }
  .fa-bars {
    display: none !important;
  }
  .address_widget, .gui_key_widget, .seed_key_widget, .cli_key_widget {
    font-size: 10px !important;
    font-weight: bold;
  }
  .seed_key_widget{
    max-width: 70%;
  }
  .wallet, .instruction {
    margin-left:12px;
  }
  a.noTextPrint:after {
    content: ' ';
    font-size:16px;         /* original font size */
  }
  ::placeholder {
    color: transparent;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparent;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: transparent;
  }

}
